# === Unity ===
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
sysinfo.txt
*.stacktrace

# === OS / sistem dosyaları ===
.DS_Store
Thumbs.db

# === IDE ve editörler ===
.vs/
.vscode/
.idea/
*.code-workspace
*.suo
*.user
*.userprefs
*.sln
*.csproj
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.tmp
*.bak
*.swp
*.iml

# === Unity Collab ve Jetbrains ===
.collab/
Assets/Plugins/Editor/JetBrains*

# === Android ve IL2CPP generated ===
.gradle/
*.apk
*.aab
*.obb
*.keystore
*.dex
*.so
*.jar
*.java
*.class
Il2CppOutputProject/
